body {
  padding-top: 40px;
  @media (max-width: 979px){
    padding-top: 0px;
  }
}

#searchPanel {
  > form {
    margin: 0px;
  }

  &.hero-unit{
    padding: 20px 60px;
  }

  p {
    font-size: 14px;
    margin-left: 15px
  }
}

#movieResult .caption {
  margin-left : 220px;
}


.controls label {
  padding-top:5px;
}
