<div class="row">
    <div class="span12">
        <ul class="thumbnails">
            <li ng-repeat="movie in movies" class="span2">
                <div id="movieResult" class="thumbnail">

                    <div ng-switch on="movie.poster.href" >
                        <img ng-switch-when=undefined ng-src="img/no-photo.jpg" class="img-rounded" ng-click="goToDetail(movie.code)"/>
                        <img ng-switch-default ng-src="{{movie.poster.href}}" class="img-rounded" ng-click="goToDetail(movie.code)"/>
                    </div>


                    <div class="caption">
                        <h5>{{movie.originalTitle}}</h5>
                        <p>
                            <a ng-click="remove(movie.code)" class="btn btn-danger">Supprimer</a>
                        </p>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>